.card-grid
{
    list-style: none;
    padding-left: 0;
    display: grid;
    row-gap: 2.5rem;
    column-gap: .68rem;
    grid-template-columns: 100%;
    grid-template-rows: 17.68rem;
    justify-content: center;
}

@media(min-width:375px){}

@media(min-width:768px)
{
    .card-grid{
        grid-template-columns: repeat(2, 21.18rem);
        grid-template-rows: 17.68rem;
        row-gap: 3.5rem;
        column-gap: .68rem;
    }
}

@media(min-width: 811px)
{
    .card-grid {
        justify-content: space-between;
    }
}

@media(min-width:1440px)
{
    .card-grid
    {
        grid-template-columns: repeat(3, 21.18rem);
        row-gap: 3.75rem;
        column-gap: 1.875rem;
        grid-template-rows: 20.12rem;
    }
}