.card 
{
    font-size: 1rem;
    padding: 0 1.875rem 1.875rem;
    background-color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.title 
{
    font-size: 1.25em;
    color: #13183F;
    margin-bottom: 1rem;
}
.card--intro
{
    background: linear-gradient(to bottom, #FF6F48, #F02AA6);
   
    border-radius: .62rem;
    padding: 1.5rem 1.75rem 2rem;
}

.card--intro .title 
{
    font-size:1.5rem; 
    color:white;
    margin: 0;
}

.icon 
{
    width: 3.5rem;
    margin-top: -1.75rem;
    margin-bottom: 1.5rem;
}

.desc 
{
    color: #83869A;
    font-weight: 500;
    margin-bottom: 1.5rem;
    line-height: 1.6;
}

.btn
{
    display: block;
    margin-top: auto;
    justify-self: end;
}

@media(min-width: 375px){}

@media(min-width:768px)
{
  
    .desc {
        font-size: 1em;
    }

    .card--intro .title 
{
    font-size:1.5rem; 
}
    
}

@media(min-width:1200px)
{
    .content 
    {
        padding: 4rem 2em 2.5em;
    }
    .title 
    {
        font-size: 1.5em;
        margin-bottom: 1.5rem;
    }

    .card--intro .title 
    {
        font-size: 2rem;
    }

    .desc {
        font-size: 1.125em;
    }
}