.hero 
{
    padding: 0 1rem;
    font-size: 1rem;
}


.content
{
    padding: 2.375rem 0 2.87rem;
    width: 21.43rem;
}

.title {
    color: #13183F;
    font-size: 2.5em;
    margin-bottom: 1.62rem;
    --span-start: margin, font-size;
}

.body 
{
    line-height: 1.6;
    color: #83869A;
    margin-bottom: 1.5rem;
}

.img-desktop, .img-tablet 
{
    display: none;
    pointer-events: none;
}

.img-mobile 
{
    pointer-events: none;
    display: block;
    width: 100%;
}


.title--light[data-test="test"]
{
    --dynamic: true;
    --force: all;
    font-size: 4em;
    color:aqua;
}

@media(min-width:375px)
{

}
@media(min-width:768px)
{
    .hero 
    {
        padding: 0 2.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }

    .content 
    {
        padding: 6.18rem 0 5.75rem;
        width: 24.87rem;
    }

    .img-mobile {
        display: none;
    }

    .img-tablet {
        display: block;
        position: absolute;
        z-index: 0;
        right:-19rem;
        top:-12rem;
        width: 43.43rem;
    }

    .title 
    {
        --span-end: margin, font-size;
    }

    .body 
    {
        margin-bottom: 1.5rem;
    }
}


@media(min-width:1200px)
{
    .hero 
    {
        padding: 0 10.31rem 0;
    }
    .content {
        width: 28.5rem;
        padding: 10.75rem 0 11.18rem;
    }
    .title 
    {
        font-size: 3.5em;
        margin-bottom: 1.8125rem;
    }

    .body {
        margin-bottom: 2.5rem;
    }

    .img-tablet {
        display: none;
        width: 65.37rem;
        right:-24rem;
        top:-19rem;
    }

    .img-desktop {
        display: block;
        position: absolute;
        right:-24rem;
        top:-15rem;
    }
}