.header
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem 0;
    position: relative;
    z-index: 99;
}


.logo 
{
    width: 5.56rem;
}

.section
{
    padding: 0 1rem 5rem;
    background: linear-gradient(to bottom, #FFFFFF, #F0F1FF);
}


.footer {
    padding: 2.25rem 1rem;
    background-color: #13183F;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media (min-width:375px){}

@media(min-width:768px)
{
    .header {
        padding: 1.5rem 2.5rem;
    }
    .logo 
    {
        width: 5.56rem;
    }

    .section {
        padding: 0 2.5rem 5.375rem;
    }

    .footer {
        padding: 2rem 2.5rem;
    }
}

@media (min-width: 1200px)
{
    .header {
        padding: 1.87rem 10.31rem 0;
    }
    .logo 
    {
        width: 7.12rem;
    }

    .section {
        padding: 0 10.31rem 8.75rem;
    }

    .footer 
    {
        padding: 2rem 10.31rem;
    }
}
